@use "../../../styles/variables" as variable;

.error { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 280px;  
  padding: 30px;
  color: variable.$color-orange;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: center;
  background-color: variable.$color-white;
  border: 1px solid variable.$color-orange;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 variable.$color-dark; 
}