:root {
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px;

  --color-grey-100: rgba(245, 245, 244, 0.5);
  --color-grey-200: #e7e5e4;
  --color-grey-500: #78716c;
  --color-grey-800: #252825;
  --color-grey-950: #141414;

  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-500: #99de03;
  --color-lime-600: #68a70b;
  --color-lime-800: #3f6212;
  --color-lime-900: #314e06;
  --color-lime-950: #1a2e05;

  /*--color-turquoise-100: #12f6d4;*/
  /*--color-turquoise-200: #0fd9bd;*/
  /*--color-turquoise-300: #0baf9a;*/
  /*--color-turquoise-500: #098270;*/
  /*--color-turquoise-600: #075f53;*/
  /*--color-turquoise-800: #04302d;*/
  /*--color-turquoise-900: #021b18;*/
  /*--color-blue-100: #0378f9;*/
  /*--color-blue-500: #02458e;*/
  /*--color-blue-800: #02264e;*/
  /*--color-blue-900: #001124;*/

  --primary: var(--color-lime-500);
 --header-background: var(--color-lime-50);
  --background-primary: rgba(245,245,244,0.5);
  --foreground-primary: var(--color-grey-800);
  --background-dropdown: var(--color-grey-200);
}

html[data-theme="dark"] {
  --primary: var(--color-lime-200);
  --header-background: var(--color-grey-800);
  --background-primary: var(--color-grey-950);
  --foreground-primary: var(--color-grey-200);
  --background-dropdown: var(--color-grey-800);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root{*/
/*    --primary: var(--color-lime-200);*/
/*    --header-background: var(--color-grey-800);*/
/*    --background-primary: var(--color-grey-950);*/
/*    --foreground-primary: var(--color-grey-200);*/
/*    --background-dropdown: var(--color-grey-800);*/
/*  }*/
/*}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-size: 16px;
  color: var(--foreground-primary);
  background-color: var(--background-primary);
}

#root {
  display: flex;
  flex-direction: column;
}