:root {
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px;
  --color-white: #fff;
  --color-grey-50: rgba(245, 245, 244, 0.5);
  --color-grey-100: #f6f5f5;
  --color-grey-200: #e7e5e4;
  --color-grey-300: #bcbbbb;
  --color-grey-500: #78716c;
  --color-grey-800: #252825;
  --color-grey-950: #141414;

  --color-blue-30: #3a91ed33;
  --color-blue-50: #75afef;
  --color-blue-100: #1677ff;
  --color-blue-500: #02458e;
  --color-blue-800: #02264e;
  --color-blue-900: #001124;

  --color-red-300: #eb6fbe;
  --color-red-500: #ee43ac;
  --color-red-700: #ee24ac;

  --primary: var(--color-blue-100);
  --header-background: var(--color-blue-30);
  --mobile-menu-background: var(--color-grey-100);
  --background-primary: rgba(245, 245, 244, 0.5);
  --foreground-primary: var(--color-grey-800);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


