:root {
  --width-sm: 576px;
  --width-md: 768px;
  --width-lg: 992px;
  --width-xl: 1200px;

  --color-grey-100: rgba(245, 245, 244, 0.5);
  --color-grey-200: #e7e5e4;
  --color-grey-500: #78716c;
  --color-grey-800: #252825;
  --color-grey-950: #141414;

  --color-turquoise-10: rgba(168, 232, 221, 0.19);
  --color-turquoise-100: #12f6d4;
  --color-turquoise-200: #0fd9bd;
  --color-turquoise-300: #0baf9a;
  --color-turquoise-500: #098270;
  --color-turquoise-600: #075f53;
  --color-turquoise-800: #04302d;
  --color-turquoise-900: #021b18;
  --color-blue-100: #0378f9;
  --color-blue-500: #02458e;
  --color-blue-800: #02264e;
  --color-blue-900: #001124;

  --primary: var(--color-turquoise-300);
  --header-background: var(--color-turquoise-10);
  --background-primary: rgba(245,245,244,0.5);
  --foreground-primary: var(--color-grey-800);
  /*--background-dropdown: var(--color-grey-200);*/

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;  
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}


