.logo {
  width: 90px;
  height: 35px;
  color: var(--foreground-primary);
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(0.95);
}

.logo__image {
  display: block;
  width: 100%;
  height: 100%;
}