.navigation {
  position: relative;
}

.menu {
  position: absolute;
  top: 35px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  color: var(--color-white);
  background-color: var(--mobile-menu-background);
  border: 1px solid var(--color-grey-500);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.burger {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: transparent;
    border: none;
    z-index: 0;
  }

  .burger {
    display: none;
  }
}