.product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__link {
  width: 100%;
  margin-bottom: 20px;
  color: var(--color-red-500);

}

.product__link:hover {
  text-decoration: none;
}

.product__title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*gap: 10px;*/
  width: 100%;
  min-width: 280px;
  margin-bottom: 30px;
}

.product__image {
  flex-shrink: 0;
  display: block;
  width: 300px;
  min-width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 2;
}

.product__description {
  font-size: 20px;
  line-height: 1.2;
}

.product__rating {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.product__rating-number {
  margin-bottom: 0 !important;
  font-size: 18px;
}

.product__price {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .product__info {
    width: calc(100% - 340px);
  }
}

